body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  font-family: sans-serif;
  margin-bottom: 20px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-header-logo {
  width: 80px;
  height: 80px;
}

#submit-btn {
  width: 100px;
  height: 41px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}
.trybewarts-login p {
  margin: 0px;
  color: white;
  font-weight: 550;
}

#main {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#checkSubject {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-casa {
  display: flex;
  flex-direction: column;
}

#label-family {
  display: flex;
  flex-direction: row;
}

#avaliation-btns {
  margin-top: 25px;
}
